@import "../../css/globals/variables";

.slideshow {
  position: relative;
  @media (max-width: 767px) {
    padding: 0 0 !important;
  }

  @media (min-width: $breakpoint-laptop) {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  &.DienstItem {
    position: relative;

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      background-color: #00f;
      position: absolute;
      left: 2.4rem;
      top: 0;
      z-index: 2;
    }

    @media (max-width: 767px) {
      padding: 50px 0 1rem 2.4rem !important;
    }

    @media (min-width: $breakpoint-tablet) {
      &::before {
        left: 6.5rem;
      }
    }

    .slideshow__title {
      padding-left: 2rem;
    }
  }

  .md\:container {
    position: relative;
  }

  &__title {
    margin-bottom: -2rem;
  }

  .swiper {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .swiper-pagination-fraction {
    bottom: auto;
    top: 0;
    right: 3rem;
    left: auto;
    width: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 6px;
    width: 10px;
    height: 10px;
    margin-top: 0;

    &::after {
      font-size: 1rem;
      color: #000;
    }
  }

  .swiper-button-next {
    right: 3rem;
  }

  .swiper-button-prev {
    right: 4.3rem;
    left: auto;
  }

  .swiper-slide {
    height: auto !important;
    align-self: stretch;
  }

  &.CaseItem {
    .swiper {
      &-slide {
        transition: cubic-bezier(0.86, 0, 0.07, 1) 640ms all;

        &-prev {
          transform: scale(1.05, 1.05);
          transition: cubic-bezier(0.86, 0, 0.07, 1) 640ms all;
        }

        &-next {
          transform: scale(0.95, 0.95) translateX(-20px);
          transition: cubic-bezier(0.86, 0, 0.07, 1) 640ms all;
        }
      }
    }
  }

  // &.CaseItem {
  //   > div {
  //     max-width: 1400px;
  //     margin: 0 auto;
  //   }
  // }

  // &.KernItem,
  // &.TeamItem {
  //   .swiper {
  //     &-slide {
  //       transform: scale(0.7);
  //       transition: 0.5s ease-in-out transform;
  //       transform-origin: center;

  //       &-prev,
  //       &-duplicate-prev,
  //       &-next,
  //       &-duplicate-next {
  //         transform: scale(0.9);

  //         @media (min-width: $breakpoint-laptop) {
  //           transform: scale(1) translateZ(0) !important;
  //         }
  //       }

  //       &-active {
  //         transform: scale(1);
  //       }
  //     }

  //     &-android {
  //       .swiper-slide {
  //         transform: scale(1) translateZ(0) !important;

  //         &-prev,
  //         &-duplicate-prev,
  //         &-next,
  //         &-duplicate-next {
  //           transform: scale(0.9) translateZ(0) !important;

  //           @media (min-width: $breakpoint-laptop) {
  //             transform: scale(1) translateZ(0) !important;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  &.KernItem {
    .slideshow__title {
      @media (min-width: $breakpoint-desktop) {
        width: calc(100% / 2.17);
        margin: 0 auto;
        display: block;
        padding: 0;
      }
    }

    .swiper {
      @media (min-width: $breakpoint-desktop) {
        top: -1.7rem;
      }
    }

    .swiper-button-next {
      @media (min-width: $breakpoint-desktop) {
        right: calc((100% / 2.17) / 1.72);
      }
    }

    .swiper-button-prev {
      @media (min-width: $breakpoint-desktop) {
        right: calc(((100% / 2.17) / 1.72) + 1.3rem);
      }
    }
  }
}
