@import "../../css/globals/variables";

.slideshow {
  position: relative;
  @media (max-width: 767px) {
    padding: 50px 0 !important;
  }

  @media (min-width: $breakpoint-laptop) {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  &.CaseItem {
    padding: 0 !important;
  }

  &.DienstItem {
    position: relative;

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      background-color: #00f;
      position: absolute;
      left: 2.4rem;
      top: 0;
      z-index: 2;
    }

    @media (max-width: 767px) {
      padding: 50px 0 1rem 2.4rem !important;
    }

    @media (min-width: $breakpoint-tablet) {
      &::before {
        left: 6.5rem;
      }
    }

    .slideshow__title {
      padding-left: 2rem;
    }
  }

  .md\:container {
    position: relative;
  }

  &__title {
    margin-bottom: -2rem;
  }

  .swiper-pagination-fraction {
    bottom: auto;
    top: 0;
    right: 3rem;
    left: auto;
    width: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 6px;
    width: 10px;
    height: 10px;
    margin-top: 0;

    &::after {
      font-size: 1rem;
      color: #000;
    }
  }

  .swiper-button-next {
    right: 5.4rem;
  }

  .swiper-button-prev {
    right: 6.6rem;
    left: auto;
  }

  .swiper-slide {
    height: auto !important;
    align-self: stretch;
  }

  .swiper {
    padding: 3rem 0 0 0;
  }

  &.CaseItem {
    .swiper {
      &-slide {
        transform: scale(1);
        transition: 0.5s ease-in-out transform;
        transform-origin: center center;

        &-prev,
        &-duplicate-prev {
          transform: scale(1.05);
        }

        &-next,
        &-duplicate-next {
          transform: scale(0.95) translateX(-5%);
        }
      }

      &-android {
        .swiper-slide {
          transform: scale(1) translateZ(0) !important;

          &-prev,
          &-duplicate-prev {
            transform: scale(1.1) translateZ(0) !important;
          }

          &-next,
          &-duplicate-next {
            transform: scale(0.9) translateX(-12%) translateZ(0) !important;
          }
        }
      }
    }
  }

  &.KernItem,
  &.TeamItem {
    .swiper {
      &-slide {
        transform: scale(0.7);
        transition: 0.5s ease-in-out transform;
        transform-origin: center;

        &-prev,
        &-duplicate-prev,
        &-next,
        &-duplicate-next {
          transform: scale(0.9);
        }

        &-active {
          transform: scale(1);
        }
      }

      &-android {
        .swiper-slide {
          transform: scale(1) translateZ(0) !important;

          &-prev,
          &-duplicate-prev,
          &-next,
          &-duplicate-next {
            transform: scale(0.9) translateZ(0) !important;
          }
        }
      }
    }
  }

  &.KernItem {
    @media (min-width: $breakpoint-laptop) {
      .swiper-slide {
        &.swiper-slide-prev,
        &.swiper-slide-next,
        &.swiper-slide-duplicate-next,
        &.swiper-slide-duplicate-prev {
          .slideshow__item--kernwaarde {
            background-color: #fff;
            border: 1px solid $color-primary;

            &--inner {
              &__content {
                color: $color-primary;

                &--title {
                  -webkit-text-stroke-color: $color-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}
