.hero {
  min-height: 50vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__image {
    margin: 0 -2rem 0 -3rem;
  }

  > .container {
    position: relative;
    padding-left: 3rem;

    &::before {
      content: '';
      width: 1px;
      height: 100%;
      background-color: $color-secondary;
      position: absolute;
      left: 2rem;
      top: 0;
    }
  }
}