@import "../globals/variables";

  .vacatureItem {
    &--inner {
      position: relative;

      &__content {
        display: flex;
        align-items: center;

        ul {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          padding: 0;
          margin: 0;

          @media (min-width: $breakpoint-laptop) {
            flex-direction: row;
          }

          li {
            color: $color-primary;
            font-weight: 500;
            display: block;
            position: relative;

            &::after {
              content: "•";
              position: absolute;
              font-size: 2rem;
              right: 7px;
              top: 50%;
              transform: translateY(-55%);
            }

            &:last-child {
            &::after {
              display: none;
            }
            }
            
            @media (min-width: $breakpoint-laptop) {
              padding: 0 20px 0 0;
            }
          }
        }

        &--title {
          h2 {
            margin-top: 0;
          }
          a {
            color: transparent;
          }

          &:hover {
            a {
              color: #000;
            }
          }
        }
      }

      .triangle {
        bottom: -1rem;
        width: 75px;
        height: 75px;
        padding: 10px;

        img {
          transform: rotate(180deg);
        }
      }
    }
  }
