button {
  padding: 0.225rem 0.5rem;
}

section {
  padding: 2rem 2.4rem;
  @media (min-width: $breakpoint-laptop) {
    padding: 2rem 6.5rem;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5rem;
      column-count: 2;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}

.global-wrapper {
  &.contact {
    background-color: $color-secondary;

    .tl-edges {
      overflow: visible;

      .tl-wrapper {
        min-height: 85vh;
      }
    }

    .footer {
      padding-top: 0 !important;

      .grid {
        display: none;
      }
    }
  }
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  padding-right: 0;

  &-line {
    position: relative;

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-secondary;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  &-small {
    max-width: 1100px !important;
    position: relative;
    padding-left: 0 !important;
  }
}

.text-outlined {
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
}

a.text-outlined:hover {
  color: $color-primary;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: $color-primary;
}

.text-primary {
  color: $color-primary !important;
}

.text-dark {
  color: #000 !important;
}

.text-secondary {
  color: $color-secondary !important;
}

.text-white {
  color: #fff !important;
}

.bg-primary {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-primary;
    background-blend-mode: multiply;
  }
}

.lead {
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
    font-weight: 300;
}

.arrow {
  max-width: 50px;
}

.arrow-small {
  max-width: 30px;
}

.arrow-right {
  transform: rotate(180deg);
}

.text {
  display: inline;
  width: 100%;
}

.read-or-hide {
  color: $color-secondary;
  cursor: pointer;
}

.moreDiensten {
  a.text-outlined {
    @media (min-width: $breakpoint-laptop) {
      font-size: 3.5rem;
    }
  }
}
