button {
  padding: 0.225rem 0.5rem;
}

section {
  padding: 2rem 2.4rem;
  @media (min-width: $breakpoint-laptop) {
    padding: 2rem 6.5rem;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5rem;
      column-count: 2;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}

.global-wrapper {
  &.contact {
    background-color: $color-secondary;

    .footer {
      .grid {
        display: none;
      }
    }
  }
}

.container {
  width: 100% !important;
  max-width: 100% !important;

  &-line {
    position: relative;

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-secondary;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.text-outlined {
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
}

.text-primary {
  color: $color-primary !important;
}

.text-secondary {
  color: $color-secondary !important;
}

.text-white {
  color: #fff !important;
}

.bg-primary {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-primary;
    background-blend-mode: multiply;
  }
}
