@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body,
html {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $color-secondary;
}

p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  line-height: 1.75;

  @media (min-width: $breakpoint-laptop) {
    font-size: 1.125rem;
  }
}

h2 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 2rem 0 0.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 2rem 0 0.5rem;
  font-weight: 700;
}
