@import "../../css/globals/variables";

.subLink {
  &__list {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    li {
      padding: 0 5px;
      &::before {
        display: none;
      }

      a {
        color: $color-primary;
      }
    }
  }
}