@import "../../css/globals/variables";

.subLink {
  &__list {
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px !important;
    list-style-type: none;
    padding-inline-start: 0;
    li {
      line-height: 1.4;
      &::before {
        display: none;
      }

      a {
        color: $color-primary;
      }
    }
  }
}