@import "../../css/globals/variables";

.nav-menu {
  &.mainMenu {
    padding: 3rem 0;

    @media (min-width: $breakpoint-laptop) {
      height: 75%;
    }

    > ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;

      > li {
        position: relative;
        width: 100%;

        > a {
          padding: 4px 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-weight: 800;
          color: #fff;
          font-size: 3rem;

          @media (min-width: $breakpoint-laptop) {
            font-size: 4.5rem;
          }

          &.nav-active {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
            color: transparent;
          }
        }

        &:hover {
          .sub-menu {
            opacity: 1;
            max-height: 200vh;
            transition: ease-in-out 0.5s max-height, ease-in-out 0.5s opacity;
          }

          > a {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
            color: transparent;
          }
        }

        .sub-menu {
          position: relative;
          left: 0;
          opacity: 0;
          width: 100%;
          overflow: hidden;
          max-height: 0;
          transition: ease-in-out 0.5s max-height, ease-in-out 0.5s opacity;

          // @media (min-width: $breakpoint-laptop) {
          //   max-height: unset;
          // }

          > li {
            display: block;
            padding: 5px 25px;

            @media (min-width: $breakpoint-laptop) {
              display: inline-block;
            }

            > a {
              color: #fff;
              font-size: 1.2rem;
              font-weight: 200;
              position: relative;

              &::after {
                content: "";
                left: 0;
                width: 0;
                height: 2px;
                background-color: $color-secondary;
                position: absolute;
                bottom: -5px;
                transition: 0.5s ease-in-out all;
              }

              &:hover {
                &::after {
                  width: 70%;
                  transition: 0.5s ease-in-out all;
                }
              }
            }
          }

          @media (min-width: $breakpoint-laptop) {
            left: 100px;
          }
        }
      }
    }
  }

  &.topMenu {
    position: relative;

    @media (min-width: $breakpoint-laptop) {
      position: absolute;
      bottom: 2.4rem;
      left: auto;
      right: 6.4rem;
    }

    > ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;

      @media (min-width: $breakpoint-laptop) {
        align-items: flex-end;
      }

      > li {
        position: relative;
        padding: 4px 10px;

        a {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-weight: 200;
          color: #fff;
          font-size: 25px;
          position: relative;

          &.nav-active {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
            color: transparent;
          }

          &::after {
            content: "";
            left: 0;
            width: 0;
            height: 2px;
            background-color: $color-secondary;
            position: absolute;
            bottom: -5px;
            transition: 0.5s ease-in-out all;
          }

          &:hover {
            &::after {
              width: 70%;
              transition: 0.5s ease-in-out all;
            }
          }
        }

        .sub-menu {
          position: absolute;
          top: 100%;
          left: 0;
          display: none;
        }
      }
    }
  }
}
