@import "../../css/globals/variables";

.CallToAction {
  padding: 50px 0;

  > .container {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 3rem;

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-secondary;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }
  }

  &__title {
    margin-left: -2rem;
    margin-right: -4.4rem;

    &--inner {
      position: relative;

      * {
        position: relative;
      }
    }
  }

  &__image {
    margin-left: -4.4rem;
    margin-right: -4.4rem;
    margin-top: -2rem;
    mix-blend-mode: multiply;

    @media (min-width: $breakpoint-laptop) {
      margin-top: 4rem;
    }
  }
}
