.doelstelling {
  .grid {
    border-left: 1px solid $color-secondary;
    padding-left: 2rem;
  }
}

.resultaat {
  &__image {
    &--image {
      margin-right: 1rem;
    }
  }
}

.navigation {
  padding-top: 1rem;
  padding-bottom: 3rem; 
}

.blogItem .triangle {
  width: 100px;
  height: 100px;

  img {
    transform: rotate(-180deg);
  }
}