.resultaat {
  &__image {
    &--image {
      @media (min-width: $breakpoint-laptop) {
      &.image_1,
      &.image_2 {
        width: 50%;
      }
      }
    }
  }
}

.navigation {
  padding-top: 1rem;
  padding-bottom: 3rem; 
}

.blogItem .triangle {
  width: 100px;
  height: 100px;

  img {
    transform: rotate(-180deg);
  }
}

.caseFrame {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.casePlayer {
  padding:56.25% 0 0 0;
  position:relative;
}

.grid {
  &__title {
    @media (min-width: $breakpoint-laptop) {
      min-height: 3rem;
    }
  }
}