@import "../../../css/globals/variables";

.slideshow__item--case {
  position: relative;

  &--inner {
    opacity: 0;
    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      padding: 1rem;
      z-index: 2;
      color: #fff;

      &--title {
        font-size: 2rem;
        font-weight: 800;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent;
      }

      i {
        font-size: 2rem;
      }
    }

    &::before {
      content: "";
      height: 80%;
      width: 100%;
      background-color: #000;
      position: absolute;
      left: 0;
      bottom: 0;
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      z-index: 1;
    }
  }

  &:hover {
    .slideshow__item--case--inner {
      &::before {
        background-color: $color-secondary;
      }

      &__content {
        &--title {
          color: #fff;
        }
      }
    }
  }

  .block {
    width: 0%;
    height: 100%;
    background: $color-primary;
    position: absolute;
    display: flex;
    z-index: 3;
  }

  &.isVisible {
    animation: mainFadeIn 0s forwards;
    animation-delay: 1.6s;

    .block {
      animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    }

    & {
      .slideshow__item--case--inner {
        animation: secFadeIn 0s forwards;
        animation-delay: 1s;
      }
    }
  }
}

.swiper-slide-active {
  .slideshow__item--case--inner {
    &::before {
      background-color: $color-secondary;
    }

    &__content {
      &--title {
        color: #fff;
      }
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
