// @import "../../../css/globals/variables";

.slideshow__item--diensten {
  background-color: $color-primary;
  height: 100%;

  &--inner {
    position: relative;

    &__content {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 1rem;
      z-index: 2;
      color: #fff;

      &--title {
        font-size: 1.6rem;
        font-weight: 600;
      }

      i {
        font-size: 2rem;
      }

      &--subItems {
        ul {
          li {
            position: relative;
            font-weight: 200;
            padding: 5px 0;
            padding-left: 15px;

            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #fff;
            }
          }
        }
      }
    }
  }

  // &:hover {
  //   .slideshow__item--case--inner {
  //     &::before {
  //       background-color: $color-secondary;
  //     }

  //     &__content {
  //       &--title {
  //         color: #fff;
  //       }
  //     }
  //   }
  // }
}
