@import "../../../css/globals/variables";

.slideshow {
  &.KernItem {
    .swiper {
      .swiper-slide-prev {
        @media (min-width: $breakpoint-laptop) {
          transform: scale(0.9);
        }
      }

      .swiper-slide-active {
        @media (min-width: $breakpoint-laptop) {
          z-index: 10;
        }
      }

      .swiper-slide-next {
        @media (min-width: $breakpoint-laptop) {
          transform: scale(0.9);
        }
      }
    }
  }
}

.slideshow__item--kernwaarde {
  background-color: #fff;
  border: 1px solid $color-primary;
  height: 100%;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.86, 0, .07, 1);

  &--inner {
    position: relative;

    &__content {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 1rem;
      z-index: 2;
      color: $color-primary;
      transition-duration: 0.8s;
      transition-timing-function: cubic-bezier(.86, 0, .07, 1);

      &--title {
        font-size: 2.3rem;
        font-weight: 800;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-primary;
        color: transparent;
        text-align: left;
        transition-duration: 0.8s;
        transition-timing-function: cubic-bezier(.86, 0, .07, 1);
      }

      i {
        font-size: 2rem;
      }
    }
  }

  &:hover {
    .slideshow__item--case--inner {
      &::before {
        background-color: $color-secondary;
      }

      &__content {
        &--title {
          color: #fff;
        }
      }
    }
  }
}

.swiper-slide-active {
  .slideshow__item--case--inner {
    &::before {
      background-color: $color-secondary;
    }

    &__content {
      &--title {
        color: #fff;
      }
    }
  }

  .slideshow__item--kernwaarde {
    background-color: $color-primary;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(.86, 0, .07, 1);

    &--inner {
      &__content {
        color: #fff;
        transition-duration: 0.8s;
        transition-timing-function: cubic-bezier(.86, 0, .07, 1);

        &--title {
          -webkit-text-stroke-color: #fff;
          transition-duration: 0.8s;
          transition-timing-function: cubic-bezier(.86, 0, .07, 1);
        }
      }
    }
  }
}
