@import "../../../css/globals/variables";

.slideshow {
  &.KernItem {
    .swiper {
      .swiper-slide-prev {
        @media (min-width: $breakpoint-laptop) {
          transform: scale(0.9) translateX(30%);
        }
      }

      .swiper-slide-active {
        @media (min-width: $breakpoint-laptop) {
          z-index: 10;
        }
      }

      .swiper-slide-next {
        @media (min-width: $breakpoint-laptop) {
          transform: scale(0.9) translateX(-30%);
        }
      }
    }
  }
}

.slideshow__item--kernwaarde {
  background-color: $color-primary;
  height: 100%;

  &--inner {
    position: relative;

    &__content {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 1rem;
      z-index: 2;
      color: #fff;

      &--title {
        font-size: 2.3rem;
        font-weight: 800;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent;
        text-align: left;
      }

      i {
        font-size: 2rem;
      }
    }
  }

  &:hover {
    .slideshow__item--case--inner {
      &::before {
        background-color: $color-secondary;
      }

      &__content {
        &--title {
          color: #fff;
        }
      }
    }
  }
}

.swiper-slide-active {
  .slideshow__item--case--inner {
    &::before {
      background-color: $color-secondary;
    }

    &__content {
      &--title {
        color: #fff;
      }
    }
  }
}
