@import "../../css/globals/variables";

.marquee {
  font-size: 4rem;
  font-weight: 800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: transparent;
  overflow: hidden;

  @media (min-width: $breakpoint-laptop) {
    font-size: 7rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  span {
    padding: 0 25px;
  }

  span:nth-child(even) {
    color: #000;
  }

  .overlay {
    display: none;
  }
}
