@import "../../css/globals/variables";

.header {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.branding {
  max-width: 175px;
  padding: 25px 0 35px 0;

  img {
    max-width: 100%;
    width: 175px;
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: 250px;
    width: 250px;
  }
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 5;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  padding-left: 0.5rem;

  @media (min-width: $breakpoint-laptop) {
    padding-left: 1rem;
    width: 6.5rem;
    height: 100vh;
    top: 0;
  }

  &__socials {
    i {
      font-size: 1.3rem;
      color: #b1b1b1;
      line-height: 2;

      @media (min-width: $breakpoint-laptop) {
        font-size: 1.6rem;
        width: 6.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        color: $color-primary;
      }
    }

    &.menuOpen {
      i {
        color: #fff;
      }
    }
  }

  &__menuButton {
    background-color: $color-secondary;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;

    &__inner {
      width: 75px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      color: #fff;

      p {
        margin: 0;
      }
    }

    @media (min-width: $breakpoint-laptop) {
      position: absolute;
      top: 50%;
      left: 12px;
      background-color: transparent;
      mix-blend-mode: multiply;
      border: 1px solid $color-secondary;
      transform: translateY(-50%);

      &__inner {
        color: $color-secondary;
      }
    }

    &.menuOpen {
      @media (min-width: $breakpoint-laptop) {
        border: 1px solid #fff;

        .controls__menuButton__inner {
          color: #fff !important;
        }
      }
    }
  }

  @media (min-width: $breakpoint-laptop) {
    .lg\:container {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

.contact .controls__menuButton {
  border-color: #fff;
  background-color: #fff;

  .controls__menuButton__inner {
    color: $color-secondary;
  }
}

@media (min-width: $breakpoint-laptop) {
  .contact .controls__menuButton {
    border-color: #fff;
    background-color: transparent;

    .controls__menuButton__inner {
      color: #fff;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.contact .controls__socials i {
  color: #fff;
}
